body {
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 1.2rem;
  margin-left: 2rem;
}

.productview {
  border-bottom: "1px solid #e6ecf0;";
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
